/* reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Use inherited box-sizing */
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  box-sizing: border-box; /* Set border-box for the body */
}
