.top-header {
  height: auto;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 45px 3.5% 25px;
  gap: clamp(8px, 2vw, 24px);
}
