@use '../abstracts/index' as abstracts;

.coding-projects-container {
  max-width: 1000px;
  background-color: #ffffff;
  margin: 0 auto;

  .projects-text {
    align-items: center;
    font-size: abstracts.$font-size-base;
    line-height: 1.4;
  }

  .project-grid {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns
    gap: 20px; // Spacing between rows and columns
  }

  .project-card {
    background-color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .project-title {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 10px;
      color: abstracts.$dark-text-color;
    }

    .project-description {
      font-size: 1rem;
      line-height: 1.4;
      color: abstracts.$text-muted;
      margin-bottom: 15px;
    }

    .project-stats {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .stat {
        display: flex;
        align-items: stretch;
        font-size: abstracts.$font-size-small;
        color: abstracts.$dark-text-color;

        .stat-icon {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
      }

      .languages {
        font-size: abstracts.$font-size-small;
        color: abstracts.$primary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .project-grid {
    gap: 10px !important; // Reduce spacing for smaller screens
  }
}
