.comic-finder-container {
  max-width: 1000px;
  background-color: #ffffff;
}

.comic-finder-text {
  align-items: center;
  font-size: 1.15rem;
  line-height: 1.4;
}

.comic-image-container {
  width: 100%;
  text-align: center;
  margin: 30px auto;

  .comic-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}
