.left-content {
  position: relative;
  flex: 2.5;
  display: flex;
  flex-direction: column; /* Allows elements to stack vertically */
  justify-content: space-between; /* Pushes the blue bars to the top and bottom */
  background-color: #ffffff;
  padding: 10px 20px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 95%;
    width: 2px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
  }

  .top-content {
    flex-shrink: 0; /* Prevent shrinking */
  }

  .bottom-container {
    position: relative; /* Ensure stacking within this container */
    margin-top: auto; /* Push this to the bottom */
    z-index: 1; /* Higher stacking order to stay above purple content */
  }
}

.feature-box {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 10px;

  p {
    margin: 0;
  }
}

.whats-hot-container {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.whats-hot-box {
  background-image: linear-gradient(
    #ffffff,
    #fdf6b0
  ); // Light yellow for the box
  color: black; // Black text for contrast
  padding: 0 10px; // Add spacing inside the box
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000000; // Black border
}

.red-line {
  width: 100%;
  height: 4px; // Thickness of the red line
  background-color: #8b0000; // Deep red color
  margin: 0 auto; // Center alignment
  max-width: 1000px; // Restrict width to match the container
  box-shadow: 0 3px 3px #000000; // Shadow for depth
}

.black-line {
  margin-top: 10px;
  width: 100%;
  height: 2px; // Thickness of the red line
  background-color: #000000; // Deep red color
  max-width: 1000px; // Restrict width to match the container
}

.content-row {
  display: flex;
  gap: 0;
  margin-top: 0;
  padding: 0;
  position: relative;
  min-height: 300px; // Ensures consistent height
  align-items: stretch; /* Stretch both sections to fill the parent container */

  &.single-column {
    justify-content: center; // Center the content

    .left-content {
      flex: 1; // Take the full width
    }

    .right-sidebar {
      display: none; // Hide the right sidebar
    }
  }

  &:not(.single-column) .left-content::after {
    content: '';
    position: absolute;
    right: 0;
    height: 95%;
    width: 2px;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
  }
}
