.left-content {
  position: relative;
  flex: 2.5;
  background-color: #ffffff;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: 88%;
    width: 2px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
  }
}

.left-content p {
  margin-bottom: 15px;
  padding-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.feature-box {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.whats-hot-container {
  padding-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.whats-hot-box {
  background-image: linear-gradient(
    #ffffff,
    #fdf6b0
  ); // Light yellow for the box
  color: black; // Black text for contrast
  padding: 0 10px; // Add spacing inside the box
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000000; // Black border
}

.red-line {
  width: 100%;
  height: 4px; // Thickness of the red line
  background-color: #8b0000; // Deep red color
  margin: 0 auto; // Center alignment
  max-width: 1000px; // Restrict width to match the container
  box-shadow: 0 3px 3px #000000; // Shadow for depth
}

.content-row {
  display: flex;
  gap: 0;
  margin-top: 0;
  padding: 0;
  position: relative;
  min-height: 300px; // Ensures consistent height

  &.single-column {
    justify-content: center; // Center the content

    .left-content {
      flex: 1; // Take the full width
    }

    .right-sidebar {
      display: none; // Hide the right sidebar
    }
  }

  &:not(.single-column) .left-content::after {
    content: '';
    position: absolute;
    right: 0;
    height: 88%;
    width: 2px;
    background-color: #000000;
    top: 50%;
    transform: translateY(-50%);
  }
}
