.date-banner {
  position: absolute;
  top: 5px;
  right: 2.5%;
  font-size: 1.15rem;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(to right, #ffffff, #990c00, #000000);
  padding: 8px 25px;
  width: 350px;
  border-radius: 0 10px 10px 0;
  text-shadow: 1px 1px 0 #4d0000;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}
