@use '../abstracts/index' as abstracts;

.footer {
  background-color: #ffffff;
  text-align: left;
  padding: 0 20px 15px;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: abstracts.$font-size-small;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content a {
  color: #0000ff;
  margin: 0 5px;
}
