@use '../abstracts/index' as abstracts;

.header-image-left {
  width: clamp(50px, 8vw, 85px);
  height: auto;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 5px;
  flex-shrink: 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.top-header h1 {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  color: abstracts.$dark-text-color;
  text-shadow: 1px 1px 0 abstracts.$dark-text-color;
  margin: 0;
  max-width: 75%;
  word-wrap: break-word;
  text-align: left;
}

@media (max-width: 768px) {
  .top-header {
    padding-top: 110px;
    padding-bottom: 5px;
  }

  .top-header h1 {
    font-size: clamp(1.3rem, 2.5vw, 2rem);
    max-width: 100%;
  }

  .year-background {
    top: 45px;
  }
}
