@use '../abstracts/index' as abstracts;

.main-container {
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Vertically center if necessary */
  width: 100%;
  margin: 0 auto; /* Center the container on the page */
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile-black-line {
  padding: 0;
  margin: 20px 0;
  width: 100%;
  height: 2px; // Thickness of the red line
  background-color: #000000; // Deep red color
  max-width: 1000px; // Restrict width to match the container
}

.profile-image {
  width: 160px;
  height: 160px;
  //   border-radius: 50%;
  border-radius: 5px;
  object-fit: cover;
  margin: 15px auto 20px;
  border: 2px solid #8b0000;
  box-shadow: 2px 2px 0 #4d0000;
}

.profile-image-icon {
  width: clamp(80px, 15vw, 120px);
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-text {
  flex: 1;
  align-items: center;
  font-size: 1.15rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-text {
    text-align: center;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .profile-image {
    width: 180px;
    height: 180px;
    margin: 20px auto;
  }
}

.lab-drawing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100%; /* Full height of parent */
  width: 100%; /* Full width of parent */
  gap: 0; /* Remove gaps between the sections */
}

.description-container,
.viewer-container {
  flex: 1; /* Equal space horizontally */
  display: flex;
  flex-direction: column; /* Stack content inside */
  justify-content: center; /* Center content vertically */
  height: 100%; /* Ensure full height within parent */
  padding: 0; /* No extra padding */
}

.description-container h3 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  color: abstracts.$dark-text-color; // Slightly softer black for the title
}

.description-container p {
  padding: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  color: black;
  line-height: 1.5; /* Line height for consistent spacing */
  overflow: hidden; /* Hide overflowing text */
  white-space: normal; /* Allow multi-line wrapping */
  text-overflow: ellipsis; /* Add ellipses for truncated text */
  display: -webkit-box; /* Flexbox for text wrapping */
  -webkit-box-orient: vertical; /* Vertical orientation for clamping */
}

.description-container p.one-line {
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  max-height: calc(1.5em); /* Ensure max height fits 2 lines */
}

.description-container p.two-lines {
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  max-height: calc(1.5em * 2); /* Ensure max height fits 2 lines */
}

.description-container p.three-lines {
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  max-height: calc(1.5em * 3); /* Ensure max height fits 3 lines */
}

#pymol-viewer {
  position: relative;
  width: 100%; /* Fill the viewer-container horizontally */
  height: 100%; /* Fill the viewer-container vertically */
  overflow: hidden;
}

#pymol-viewer canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
